/* 
    General
*/
$background-color: #6e727a;

$content-margins-full: 15%;
$content-margins-medium-small: 0;

/* 
    Navbar
*/
$navbar-background-color: #3e424a;
$navbar-profile-background-color: #9ea2aa;


